.login-button{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
}

.nav-section{
    display: flex;
    justify-content: center;
}

.menu-area {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    position: relative; 
    padding: 0 20px; 
    box-sizing: border-box;
}

.menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-list li {
    padding: 10px;
}

.color-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }

.search-bar {
    position: absolute; 
    right: 30px; 
    display: flex;
    align-items: center;
    width: 300px; 
}

.search-icon {
    position: absolute;
    left: 10px; 
    font-size: 16px;
    color: #000;
}

.search-input {
    width: 100%;
    padding: 10px 10px 10px 36px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    font-size: 16px;
}

.container-spacing {
    margin-top: 20px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 중앙 정렬 */
    padding: 0 30px; /* 좌우 여백을 더 넓게 설정 */
}

.product-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center; /* 중앙 정렬 */
}

.product-col {
    flex: 0 0 calc(25% - 100px); /* 너비를 줄이면서 여백을 포함 */
    max-width: calc(25% - 40px);
    padding: 15px;
    box-sizing: border-box;
    margin: 10px; /* 상하좌우 간격 유지 */
    transition: transform 0.3s ease-in-out; /* 애니메이션 효과 추가 */
}

.product-col:hover {
    transform: scale(1.05); /* hover 시 5% 확대 */
}

.product-image {
    width: 100%; /* 이미지가 컬럼에 맞게 크기 조정 */
    height: auto; /* 비율 유지하면서 크기 조정 */
}

.login-container {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    width: 500px;
    padding-top: 30px;
}

.submit-button-wrapper {
    display: flex;
    justify-content: center; /* 버튼을 수평 중앙 정렬 */
    margin-top: 20px; /* 버튼 위쪽 여백 */
}

.product-image{
    display: flex;
    justify-content: flex-end;
}

.dropdown-toggle {
    width: 150px; /* 원하는 너비로 설정 */
}

.dropdown-menu {
    min-width: 150px; /* 드롭다운 메뉴가 버튼과 동일한 너비를 유지하도록 설정 */
}

.spacing {
    margin-bottom: 1rem; /* 원하시는 간격으로 조정하세요 */
}
  
.wide-button {
    width: 400px;
}
  
.emphasize-text {
    font-size: 20px; /* 원하는 크기로 조정하세요 */
    font-weight: bolder;
}